div {
    text-align: center;
    font-size: 1.25rem;
    padding: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pokedex {
    display: block;
}

img {
    @media (max-width: 768px) {
        width: 80%;
    }
}